<template>
  <div class="d-flex align-center justify-center" style="height: 100vh">
    <v-sheet width="400" class="mx-auto">
      <h1 class="text-center mb-4">Log in</h1>
      <v-form fast-fail @submit.prevent="submit">
        <v-text-field v-model="email" label="Email"></v-text-field>
        <v-text-field v-model="password" label="Password" type="password"></v-text-field>
        <v-btn variant="text" :slim="true" class="mb-4" @click="dialog = true">
          Forgot password?
        </v-btn>
        <v-dialog v-model="dialog" width="auto">
          <v-card max-width="400" prepend-icon="mdi-lock" title="Login info:">
            <v-card-text>
              email: <strong>test@test.com</strong><br />
              pass: <strong>test</strong>
            </v-card-text>
            <template v-slot:actions>
              <v-btn
                variant="outlined"
                class="ms-auto"
                text="Prefill credentials"
                @click="prefilCredentials"
              ></v-btn>
              <v-btn class="ms-auto" text="Close" @click="dialog = false"></v-btn>
            </template>
          </v-card>
        </v-dialog>
        <v-alert
          :icon="false"
          density="compact"
          variant="outlined"
          class="mt-4"
          v-if="state?.error"
          :text="state?.error"
          type="error"
        ></v-alert>
        <v-btn :loading="state?.loading" type="submit" color="primary" block class="mt-2"
          >Log in</v-btn
        >
      </v-form>
    </v-sheet>
  </div>
</template>

<script setup lang="ts">
import type { AuthStateType } from '@/types/auth.types'
import { ref } from 'vue'
import { defineEmits, defineProps } from 'vue'

const emit = defineEmits(['submit'])
const props = defineProps<{
  state: AuthStateType
}>()

const { state } = props

const prefilCredentials = () => {
  // just to make your life easier while testing :)
  email.value = 'test@test.com'
  password.value = 'test'
}

const email = ref('')
const password = ref('')
const dialog = ref(false)

const submit = () => {
  emit('submit', { email: email.value, password: password.value })
}
</script>
