<template>
  <div>
    <LoginForm @submit="submitLogin" :state="authState" />
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import LoginForm from '@/components/auth/LoginForm.vue'

const store = useStore()
const router = useRouter()
const authState = computed(() => store.state.auth)
const isLoggedIn = computed(() => store.getters.isLoggedIn)

const submitLogin = (loginPayload) => {
  store.dispatch('loginUser', loginPayload).then((success) => {
    if (success) {
      redirectToHome()
    }
  })
}

if (isLoggedIn.value) {
  redirectToHome()
}

const redirectToHome = () => {
  router.push({
    name: 'Home'
  })
}
</script>
