<template>
  <div class="d-flex align-center justify-center" style="height: 100vh">
    <v-sheet width="400" class="d-flex align-center justify-center">
      <v-progress-circular :size="70" :width="7" color="blue" indeterminate></v-progress-circular>
    </v-sheet>
  </div>
</template>


<script setup>
import { useRouter } from 'vue-router'

import { onMounted } from 'vue';
import { useStore } from 'vuex';

const router = useRouter()
const store = useStore();

onMounted(() => {
  store.commit('logout');
  setTimeout(() => {
    router.push({
      name: 'Login'
    })
  }, 500);
});

</script>