<template>
  <v-data-table
    :loading="ticketsState.loading || ticketsState?.currentTicket?.loading"
    :headers="headers"
    :items="ticketDataItems"
    :items-per-page="25"
    no-data="No data"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Tickets</v-toolbar-title>
        <v-btn class="mv-2" color="primary" @click="createItem()"> New Ticket </v-btn>
      </v-toolbar>
    </template>

    <template v-slot:item.category="{ value }">
      {{ value?.name }}
    </template>

    <template v-slot:item.event="{ value }">
      {{ value?.name }}
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon class="me-2" size="small" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>

    <template v-slot:no-data>
      <v-container class="ma-4">
        <p>No data available.</p>
        <v-btn color="primary" @click="store.dispatch('getTickets')"> Reload </v-btn>
      </v-container>
    </template>
  </v-data-table>

  <CustomModalDialog :open="editModalOpen">
    <EditTicketForm
      :item="selectedRow"
      :state="ticketsState.currentTicket"
      :categories="categories"
      :events="events"
      @formSubmitted="editFormSubmitted"
      @cancelClicked="editModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="createModalOpen">
    <CreateTicketForm
      :state="ticketsState.currentTicket"
      :categories="categories"
      :events="events"
      @formSubmitted="createFormSubmitted"
      @cancelClicked="createModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="deleteModalOpen">
    <v-card title="Please Confirm">
      <v-card-text> Are you sure you want to Delete this item? </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="deleteModalOpen = false"> Cancel </v-btn>
        <v-btn variant="outlined" color="primary" @click="confirmDelete"> Delete </v-btn>
      </v-card-actions>
    </v-card>
  </CustomModalDialog>
</template>

<script setup>
import { computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { ref } from 'vue'
import CustomModalDialog from '@/components/shared/CustomModalDialog.vue'
import EditTicketForm from '@/components/tickets/EditTicketForm.vue'
import CreateTicketForm from '@/components/tickets/CreateTicketForm.vue'

const createModalOpen = ref(false)
const deleteModalOpen = ref(false)
const editModalOpen = ref(false)
const selectedRow = ref(null)

const store = useStore()
const ticketsState = computed(() => store.state.tickets)
const categoriesState = computed(() => store.state.categories)
const eventsState = computed(() => store.state.events)

const ticketDataItems = computed(() => ticketsState.value.data || [])
const categories = computed(() => categoriesState.value.data || [])
const events = computed(() => eventsState.value.data || [])

const headers = [
  { title: 'Ticket Name', key: 'name' },
  { title: 'Price', key: 'price' },
  { title: 'Event', key: 'event' },
  { title: 'Category', key: 'category' },
  { title: 'Total Availability', key: 'totalAvailability' },
  { title: 'Available', key: 'available' },
  { title: 'Actions', key: 'actions' }
]

onMounted(() => {
  store.dispatch('getTickets')
  store.dispatch('getCategories')
  store.dispatch('getEvents')
})

const createItem = () => {
  createModalOpen.value = true
  selectedRow.value = {}
}

const editItem = (item) => {
  store.dispatch('getTicket', item.id)
  editModalOpen.value = true
  selectedRow.value = item
}

const createFormSubmitted = async (value) => {
  try {
    await store.dispatch('createTicket', value)
    createModalOpen.value = false
    store.dispatch('getTickets')
  } catch (error) {
    console.error('Action failed', error)
  }
}

const editFormSubmitted = async (value) => {
  try {
    await store.dispatch('updateTicket', value)
    editModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}

const deleteItem = (item) => {
  deleteModalOpen.value = true
  selectedRow.value = item
}

const confirmDelete = async () => {
  try {
    await store.dispatch('deleteTicket', selectedRow.value)
    deleteModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}
</script>
