<template>
  <v-data-table
    :loading="eventsState.loading || eventsState?.currentEvent?.loading"
    :headers="headers"
    :items="eventsDataItems"
    :items-per-page="25"
    no-data="No data"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Events</v-toolbar-title>
        <v-btn class="mv-2" color="primary" @click="createItem()"> New Event </v-btn>
      </v-toolbar>
    </template>

    <template v-slot:item.date="{ value }">
      {{ formatDate(value) }}
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon class="me-2" size="small" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="deleteEvent(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:no-data>
      <v-container class="ma-4">
        <p>No data available.</p>
        <v-btn color="primary" @click="store.dispatch('getEvents')"> Reload </v-btn>
      </v-container>
    </template>
  </v-data-table>

  <CustomModalDialog :open="editModalOpen">
    <EditEventForm
      :event="selectedRow"
      :state="eventsState.currentEvent"
      @formSubmitted="editEventFormSubmitted"
      @cancelClicked="editModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="createModalOpen">
    <CreateEventForm
      @formSubmitted="createEventFormSubmitted"
      @cancelClicked="createModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="deleteModalOpen">
    <v-card title="Please Confirm">
      <v-card-text> Are you sure you want to Delete this event? </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="deleteModalOpen = false"> Cancel </v-btn>
        <v-btn variant="outlined" color="primary" @click="confirmDelete"> Delete </v-btn>
      </v-card-actions>
    </v-card>
  </CustomModalDialog>
</template>

<script setup>
import { computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { formatDate } from '@/utils'
import { ref } from 'vue'
import CustomModalDialog from '@/components/shared/CustomModalDialog.vue'
import EditEventForm from '@/components/events/EditEventForm.vue'
import CreateEventForm from '@/components/events/CreateEventForm.vue'

const store = useStore()
const eventsState = computed(() => store.state.events)

const editModalOpen = ref(false)
const createModalOpen = ref(false)
const deleteModalOpen = ref(false)
const selectedRow = ref(null)

const eventsDataItems = computed(() => eventsState.value.data || [])
const headers = [
  { title: 'Event Name', key: 'name' },
  { title: 'Date', key: 'date' },
  { title: 'Location', key: 'location' },
  { title: 'Description', key: 'description' },
  { title: 'Actions', key: 'actions' }
]

onMounted(() => {
  store.dispatch('getEvents')
})

const createItem = () => {
  createModalOpen.value = true
  selectedRow.value = {}
}

const editItem = (item) => {
  store.dispatch('getEvent', item.id)
  editModalOpen.value = true
  selectedRow.value = item
}

const createEventFormSubmitted = async (value) => {
  try {
    await store.dispatch('createEvent', value)
    createModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}

const editEventFormSubmitted = async (value) => {
  try {
    await store.dispatch('updateEvent', value)
    editModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}

const deleteEvent = (item) => {
  deleteModalOpen.value = true
  selectedRow.value = item
}

const confirmDelete = async () => {
  try {
    await store.dispatch('deleteEvent', selectedRow.value)
    deleteModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}
</script>
