<template>
  <div class="pa-4 text-center">
    <v-dialog v-model="props.open" max-width="600">
      <v-card>
        <slot></slot>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
import { defineProps } from 'vue'

const props = defineProps({
  open: {
    type: Boolean,
    required: false,
    default: true
  }
})
</script>
