<template>
  <v-app-bar color="primary" prominent>
    <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    <v-toolbar-title>Tickets Admin</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon="mdi-dots-vertical" variant="text"></v-btn>
  </v-app-bar>

  <v-navigation-drawer
    v-model="drawer"
    location="left"
    permanent
    image="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
    theme="dark"
  >
    <v-list :items="items">
      <v-list-item
        v-for="(menuItem, index) in items"
        :key="index"
        :title="menuItem.title"
        :to="menuItem.value"
        :prepend-icon="menuItem.icon"
      ></v-list-item>
    </v-list>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn variant="outlined" color="secondary" block to="logout">Logout</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script setup>
import { ref } from 'vue'

const drawer = ref(true)

const items = [
  {
    title: 'Tickets',
    value: '/tickets',
    icon: 'mdi-star'
  },
  {
    title: 'Categories',
    value: '/categories',
    icon: 'mdi-folder-open'
  },
  {
    title: 'Events',
    value: '/events',
    icon: 'mdi-stadium'
  }
]
</script>
