<template>
  <v-container>
    <v-toolbar-title class="mb-4">Create New Event</v-toolbar-title>
    <v-form>
      <v-text-field v-model="eventData.name" label="Event Name" required></v-text-field>

      <v-text-field
        v-model="eventData.description"
        label="Event Description"
        required
      ></v-text-field>

      <v-text-field v-model="eventData.location" label="Event Location" required></v-text-field>
      <!-- <v-date-input @input="setDate" label="Event Date"></v-date-input> -->
      <v-date-input
        @update:model-value="handleDateChange"
        :value="eventDate"
        label="Select a date"
        max-width="368"
      ></v-date-input>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="cancelForm">Cancel</v-btn>
        <v-btn :loading="false" variant="outlined" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { ref, defineEmits, shallowRef } from 'vue'

const eventDate = shallowRef(null)
const emit = defineEmits(['formSubmitted', 'cancelClicked'])
const eventData = ref({
  name: '',
  description: '',
  location: '',
  date: ''
})

const handleDateChange = (value: any) => {
  eventData.value.date = value
}

const submitForm = () => {
  emit('formSubmitted', eventData.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
