<template>
  <v-container>
    <v-toolbar-title class="mb-4">Edit Event</v-toolbar-title>
    <v-form>
      <v-text-field v-model="localEventValue.name" label="Event Name" required></v-text-field>

      <v-text-field
        v-model="localEventValue.description"
        label="Event Description"
        required
      ></v-text-field>

      <v-text-field
        v-model="localEventValue.location"
        label="Event Location"
        required
      ></v-text-field>

      <v-text-field
        disabled
        v-model="localEventValue.id"
        label="Event ID"
        required
        readonly
      ></v-text-field>

      <v-date-input
        @update:modelValue="handleDateChange"
        :value="eventDate"
        label="Event Date"
        max-width="368"
      ></v-date-input>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text="Cancel" variant="plain" @click="cancelForm">Cancel</v-btn>
        <v-btn :loading="state.loading" text="Save" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { formatDateForDatePicker } from '@/utils'
import { ref, defineEmits, defineProps, shallowRef } from 'vue'
import type { Ref } from 'vue'
import type { EventType } from '../../types/events.types'

const eventDate = shallowRef(null)
const emit = defineEmits(['formSubmitted', 'cancelClicked'])

const props = defineProps({
  state: Object,
  event: {
    type: Object,
    required: true
  }
})

const handleDateChange = (value: any) => {
  localEventValue.value.date = value
}

const localEventValue: Ref<EventType> = ref({
  name: props.event.name,
  description: props.event.description,
  location: props.event.location,
  date: formatDateForDatePicker(props.event.date),
  id: props.event.id
})

const submitForm = () => {
  emit('formSubmitted', localEventValue.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
