<template>
  <v-data-table
    :loading="categoriesState.loading || categoriesState?.currentCategory?.loading"
    :headers="headers"
    :items="categoryDataItems"
    no-data="No data"
    :items-per-page="25"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Categories</v-toolbar-title>
        <v-btn class="mv-2" color="primary" @click="createItem()"> New Category </v-btn>
      </v-toolbar>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon class="me-2" size="small" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>

    <template v-slot:no-data>
      <v-container class="ma-4">
        <p>No data available.</p>
        <v-btn color="primary" @click="store.dispatch('getCategories')"> Reload </v-btn>
      </v-container>
    </template>
  </v-data-table>

  <CustomModalDialog :open="editModalOpen">
    <EditCategoryForm
      :item="selectedRow"
      :state="categoriesState.currentCategory"
      @formSubmitted="editFormSubmitted"
      @cancelClicked="editModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="createModalOpen">
    <CreateCategoryForm
      @formSubmitted="createFormSubmitted"
      @cancelClicked="createModalOpen = false"
    />
  </CustomModalDialog>

  <CustomModalDialog :open="deleteModalOpen">
    <v-card title="Please Confirm">
      <v-card-text> Are you sure you want to Delete this item? </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" @click="deleteModalOpen = false"> Cancel </v-btn>
        <v-btn variant="outlined" color="primary" @click="confirmDelete"> Delete </v-btn>
      </v-card-actions>
    </v-card>
  </CustomModalDialog>
</template>

<script setup>
import { computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { ref } from 'vue'
import CustomModalDialog from '@/components/shared/CustomModalDialog.vue'
import EditCategoryForm from '@/components/categories/EditCategoryForm.vue'
import CreateCategoryForm from '@/components/categories/CreateCategoryForm.vue'

const store = useStore()
const categoriesState = computed(() => store.state.categories)

const editModalOpen = ref(false)
const createModalOpen = ref(false)
const deleteModalOpen = ref(false)
const selectedRow = ref(null)

const categoryDataItems = computed(() => categoriesState.value.data || [])
const headers = [
  { title: 'Category Name', key: 'name' },
  { title: 'Description', key: 'description' },
  { title: 'Actions', key: 'actions' }
]

onMounted(() => {
  store.dispatch('getCategories')
})

const createItem = () => {
  createModalOpen.value = true
  selectedRow.value = {}
}

const editItem = (item) => {
  store.dispatch('getCategory', item.id)
  editModalOpen.value = true
  selectedRow.value = item
}

const createFormSubmitted = async (value) => {
  try {
    await store.dispatch('createCategory', value)
    createModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}

const editFormSubmitted = async (value) => {
  try {
    await store.dispatch('updateCategory', value)
    editModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}

const deleteItem = (item) => {
  deleteModalOpen.value = true
  selectedRow.value = item
}

const confirmDelete = async () => {
  try {
    await store.dispatch('deleteCategory', selectedRow.value)
    deleteModalOpen.value = false
  } catch (error) {
    console.error('Action failed', error)
  }
}
</script>
