<template>
  <v-container>
    <v-toolbar-title class="mb-4">Create New Category</v-toolbar-title>
    <v-form>
      <v-text-field v-model="categoryData.name" label="Category Name" required></v-text-field>

      <v-text-field
        v-model="categoryData.description"
        label="Category Description"
        required
      ></v-text-field>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="cancelForm">Cancel</v-btn>
        <v-btn :loading="false" variant="outlined" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { ref, defineEmits } from 'vue'

const emit = defineEmits(['formSubmitted', 'cancelClicked'])
const categoryData = ref({
  name: '',
  description: ''
})

const submitForm = () => {
  emit('formSubmitted', categoryData.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
