<template>
  <v-container>
    <v-toolbar-title class="mb-4">Edit Category</v-toolbar-title>
    <v-form>
      <v-text-field v-model="localItemValue.name" label="Category Name" required></v-text-field>

      <v-text-field
        v-model="localItemValue.description"
        label="Category Description"
        required
      ></v-text-field>

      <v-text-field
        disabled
        v-model="localItemValue.id"
        label="Category ID"
        required
        readonly
      ></v-text-field>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text="Cancel" variant="plain" @click="cancelForm">Cancel</v-btn>
        <v-btn :loading="state.loading" text="Save" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { ref, defineEmits, defineProps, Ref } from 'vue'
import { CategoryType } from '../../types/categories.types'

const emit = defineEmits(['formSubmitted', 'cancelClicked'])

const props = defineProps({
  state: Object,
  item: {
    type: Object,
    required: true
  }
})

const localItemValue: Ref<CategoryType> = ref({
  name: props.item.name,
  description: props.item.description,
  id: props.item.id
})

const submitForm = () => {
  emit('formSubmitted', localItemValue.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
