<template>
  <v-container>
    <v-toolbar-title class="mb-4">Create New Ticket</v-toolbar-title>
    <v-form>
      <v-text-field v-model="ticketData.name" label="Ticket Name" required></v-text-field>
            <v-autocomplete
        label="Select Event"
        :items="events"
        item-value="id"
        item-title="name"
        @update:modelValue="setEventValue"
      >
      </v-autocomplete>

      <v-autocomplete
        label="Select Ticket Category"
        :items="categories"
        item-value="id"
        item-title="name"
        @update:modelValue="setCategoryValue"
      >
      </v-autocomplete>
      <v-text-field v-model="ticketData.price" label="Price" required></v-text-field>
      <v-text-field
        v-model="ticketData.totalAvailability"
        label="Total Availability"
        required
      ></v-text-field>
      <v-text-field
        v-model="ticketData.available"
        label="Available tickets"
        required
      ></v-text-field>


      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="cancelForm">Cancel</v-btn>
        <v-btn submit :loading="false" variant="outlined" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import type { TicketType } from '../../types/tickets.types'
import { ref, defineEmits, defineProps } from 'vue'
const emit = defineEmits(['formSubmitted', 'cancelClicked'])

const props = defineProps({
  state: {},
  events: {
    required: true
  },
  categories: {
    required: true
  }
})

const setEventValue = (value: any) => {
  const selectedEvent = props.events.filter((event: any) => event.id === value)[0]
  ticketData.value.event.name = selectedEvent.name
  ticketData.value.event.id = selectedEvent.id
}

const setCategoryValue = (value: any) => {
  const selectedCategory = props.categories.filter((event: any) => event.id === value)[0]
  ticketData.value.category.name = selectedCategory.name
  ticketData.value.category.id = selectedCategory.id
}


const ticketData = ref<TicketType>({
  name: '',
  price: 0,
  event: {
    id: '',
    name: ''
  },
  category: {
    id: '',
    name: ''
  },
  totalAvailability: 0,
  available: 0
})

const submitForm = () => {
  emit('formSubmitted', ticketData.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
