<template>
  <v-container>
    <v-toolbar-title class="mb-4">Edit Category</v-toolbar-title>
    <v-form>
      <v-text-field v-model="localItemValue.name" label="Ticket Name" required></v-text-field>
      <v-autocomplete
        v-model="localItemValue.event"
        label="Select Event"
        :items="events"
        item-value="id"
        item-title="name"
      >
      </v-autocomplete>

      <v-autocomplete
        v-model="localItemValue.category"
        label="Select Ticket Category"
        :items="categories"
        item-value="id"
        item-title="name"
      >
      </v-autocomplete>

      <v-text-field v-model="localItemValue.price" label="Price" required></v-text-field>
      <v-text-field
        v-model="localItemValue.totalAvailability"
        label="Total Availability"
        required
      ></v-text-field>
      <v-text-field v-model="localItemValue.available" label="Availabile" required></v-text-field>

      <v-text-field
        disabled
        v-model="localItemValue.id"
        label="Category ID"
        required
        readonly
      ></v-text-field>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text="Cancel" variant="plain" @click="cancelForm">Cancel</v-btn>
        <v-btn :loading="state.loading" text="Save" color="primary" @click="submitForm">Save</v-btn>
      </v-card-actions>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import { ref, defineEmits, defineProps } from 'vue'
import type { TicketType } from '../../types/tickets.types'

const emit = defineEmits(['formSubmitted', 'cancelClicked'])

const props = defineProps({
  item: {},
  state: {},
  events: {
    required: true
  },
  categories: {
    required: true
  }
})

const localItemValue = ref<TicketType>({
  id: props.item.id,
  name: props.item.name,
  price: props.item.price,
  event: {
    ...props.item.event
  },
  category: {
    ...props.item.category
  },
  totalAvailability: props.item.totalAvailability,
  available: props.item.available
})

const submitForm = () => {
  const selectedEventId = localItemValue.value.event.id
  const selectedCategoryId = localItemValue.value.category.id

  const selectedEvent = props.events.filter((event: any) => event.id === selectedEventId)[0]

  localItemValue.value.event = {
    name: selectedEvent.name,
    id: selectedEvent.id
  }
  const selectedCategory = props.categories.filter(
    (event: any) => event.id === selectedCategoryId
  )[0]

  localItemValue.value.category = {
    name: selectedCategory.name,
    id: selectedCategory.id
  }

  emit('formSubmitted', localItemValue.value)
}

const cancelForm = () => {
  emit('cancelClicked')
}
</script>
