<template>
  <v-card style="height: 100%">
    <v-layout>
      <SidebarMenu v-if="isLoggedIn" />
      <v-main style="height: 100%">
        <div class="pa-4">
          <RouterView />
        </div>
      </v-main>
    </v-layout>
  </v-card>
</template>

<script setup>
import { useStore } from 'vuex'
import { RouterView } from 'vue-router'
import { onMounted, computed } from 'vue'
import SidebarMenu from '@/components/shared/SidebarMenu.vue'

const store = useStore()
const isLoggedIn = computed(() => store.getters.isLoggedIn)

onMounted(() => {
  store.commit('initializeStore', {})
})
</script>
